*{
    margin: 0;    
    padding:0;
   box-sizing: border-box;  
}
 

body 
   a{
       text-decoration: none;
   }
   .user{
       font-weight: 480;
       font-family: sans-serif;
       
       opacity: 0.8;
   }
   ul{
       list-style-type: none;
       margin: 48px 0;
   }
   html, body{
       font-family:  sans-serif;
   }
   html.sr .losd-hidden {
       visibility: hidden;
   }
   body.dark {
    --bg-color: #00082F;
    --text---color: #FFFFFF;
   }
   body{
       font-family: 'roboto', sans-serif;
       background: var(--bg-color);
       color: var(--text---color);
    transition: all ease-in-out 0.6s;  
   }
   ul li a {
       height: 53px;
       display: flex;
       align-items: center;
       justify-content: center;
       background: #4263EB;
   }
   .container{
    
     text-align: center; 
      width:300px;
     margin: 60px auto;
    }
    img {
       width: 100%;
    }
    img{
   
       border-radius: 50%;
       width:  100px;
       height: 100px;
       border: #4263EB solid 4px;
    }
   ul {
       
   list-style: none;
   margin:48px 0;
   }
      
   h1 {
       font-size: 32px;
      
   margin-top: 24px;  
   margin-bottom: 8px;  
   }
   
   ul li a {
     height: 53px;   
     display: flex;
   align-items: center;
   justify-content: center;
   background:#4263EB;
   color: white;
   text-transform: uppercase;
   font-size: 14px;
   margin: bottom 16px; 
   border-radius: 6px;
   transition: background 480ms;
   margin-top: 15px;
   }
   ul li a:hover {
       color: #364Fc7;
   
   }
   footer {
     font-weight: 500; 
     font-size: 12px; 
     opacity: 0.6;
   transition: background 480ms;
   margin-top: 15px;
   }
   footer:hover{
       opacity: 1;
   }
   footer a{
      color: var(--text-color);
   
   }